{% extends 'base.html.twig' %}
{% block title %}- Games
{% endblock %}
{% block link %}
<link rel="stylesheet" href="{{ asset('/css/games.css')}}">
{% endblock %}
{% block content %}
{{dump(games)}}
<div class="container mt-5">

	<div class="nav2">
		<ul>
			<li>
				<a href="{{path('category', {cat : 'new'})}}">
					Nouveauté</a>
			</li>
			<li>
				<a href="{{path('category', {cat : 'pop'})}}">
					Populaire</a>
			</li>
			<li>
				<a href="{{path('category', {cat : 'better'})}}">
					Meilleures Ventes</a>
			</li>
			<div class="search-container">
				<input type="text" placeholder="Rechercher un jeu..">
			</div>
		</ul>
	</div>

</div>

<div class="container mt-5">

	<div id="carouselExampleIndicators" class="carousel slide position-relative " data-ride="carousel">
		<ol class="carousel-indicators position-absolute">
			<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
			<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
			<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
		</ol>
		<div class="carousel-inner">
			{% for key,value in last3game %}
			{% if key == 0 %}
			<div class="carousel-item active">
				<img class="d-block w-100" src="{{ asset('/gameImg/ad.png')}}" alt="First slide">
			</div>
			{% else %}
			<div class="carousel-item">
				<img class="d-block w-100" src="{{ asset('/gameImg/ad.png')}}" alt="First slide">
			</div>
			{% endif %}
			{% endfor %}
			<h5>Nom du jeu</h5>
		</div>
		<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="sr-only">Précedent</span>
		</a>
		<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="sr-only">Suivant</span>
		</a>

		<div class="breadcrumb">
			<h4>nom du jeu</h4>
		</div>
	</div>

	<div class="row mt-5">

		<div class="col-8">

			<div class="row mt-5">
				{% for game in games %}
				
				<div1 class="col-4 mt-2">
					<a href="{{path('game', {id : game.id})}}">
					<img src="{{ asset('/gameImg/')}}{{game.img }}" class="rounded float-left" alt="...">
				</a>
				</div1>
			

				<div2 class="col-8 mt-2">
					{{game.name}}
				</div2>
			
				{% endfor %}


			</div>


		</div>


		<div class="col-4 mt-5">

			<div>
				<ul class="list-group ">
					<a href="#">
						<li1 class="list-group-item">
							Catégorie</li1>
					</a>
					{% for value in category %}
					<a href="{{path('category', {cat : value.id})}}"
						class="list-group-item">{{value.title|capitalize}}</a>
					{% endfor %}
				</ul>
			</div>

		</div>
	</div>


</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


{% endblock %}
{% block js %}
<script href="{{ asset('js/games.js')}}"></script>
{% endblock %}