{% extends 'base.html.twig' %} {% block title %}- {{game.name}} {% endblock %} {% block link %}
<link rel="stylesheet" href="{{ asset('/css/game.css')}}">
<link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet"> {% endblock %}
{% block content %}
<div class="container mt-5">
    <section class="hero__home">
        <div class="hero__content">
            <h1>{{game.descriptionG | slice(0,20)}}</h1>
        </div>
    </section>
    <div class="breadcrumb">
        <h5>{{game.name}}</h5>
    </div>
    {% if category %}
    {% for value in category %}
    <button type="button" class="btn btn-light">{{value.title}}</button>
    {% endfor %}
    {% endif %}
    <div class="container ps p-0">
    {% if app.user %}
        <div class="telecharge">
                {# <a href="{{ asset( '/game/')}}{{game.url }}" download="{{game.name}}"><button type="submit" class="btn btn-primary btn-lg">Télécharger</button></a> #}
                <a href="{{ asset( '/gameImg/')}}{{game.url }}" download="{{game.name}}"><button type="submit" class="btn btn-primary btn-lg">Télécharger</button></a>
        </div>
    {% endif %}
    </div>
    <div class="inf">
    </div>

</div>

<div class="title py-2 mt-5">
    <div class="container">
        <h5>Description</h5>
    </div>
</div>

<div class="container">
    <div class="text">
        <p>{{game.descriptionG}}</p>
    </div>
</div>


<div class="title py-2 mt-5">
    <div class="container">
        <h5>Commentaires</h5>
    </div>
</div>

<div class="container mt-4">
    {% for key,comment in comments %}
    <div class="com">
        <div class="item">
            <div class="avatar">
                <img src="{{ asset('avatar/')}}{{comment.user.avatar}}">
            </div>
            <div class="pseudo">
                <p>{{comment.user.pseudo}}</p>
            </div>
        </div>
        <div class="item">
            <div class="line"></div>
        </div>
        <div class="item">
            <p class="comment-text">{{comment.descriptionC}}</p>

        </div>
        <div class="container ip p-0">
            <div class="icone">
                <a href="{{ path( 'comment_like', { 'id' : comment.id})}} " class="js-like ">
                    {% if app.user and comment.isLikedByUser(app.user) and comment.likeOrDislike(app.user)%} 

                    {# quand il n'y a pas de like c'est égal à 0 sinon longueur de liste#}
                    {% if like[key][0] != "0 " %}
                    <i class="fas fa-thumbs-up " id="{{key}}j "><span
                            class="js-likes ">{{like[key] | length}}</span></i>
                    {% else %}
                    <i class="fas fa-thumbs-up " id="{{key}}j "><span class="js-likes ">0</span></i>
                    {% endif %}

                    {% else %}

                    {% if like[key][0] != "0 " %}
                    <i class="far fa-thumbs-up " id="{{key}}j "><span
                            class="js-likes ">{{like[key] | length}}</span></i>
                    {% else %}
                    <i class="far fa-thumbs-up " id="{{key}}j "><span class="js-likes ">0</span></i>
                    {% endif %}

                    {% endif %}
                </a>


                <a href="{{ path( 'comment_dislike', { 'id' : comment.id})}} " class="js-like ">
                    {% if app.user and comment.isLikedByUser(app.user) and comment.likeOrDislike(app.user) == false %}

                    {% if dislike[key][0] != "0 " %}
                    <i class="fas fa-thumbs-down " id="{{key}}j "><span
                            class="js-dislikes ">{{dislike[key] | length}}</span></i>
                    {% else %}
                    <i class="fas fa-thumbs-down " id="{{key}}j "><span class="js-dislikes ">0</span></i>
                    {% endif %}

                    {% else %}

                    {% if dislike[key][0] != "0 " %}
                    <i class="far fa-thumbs-down " id="{{key}}j "><span
                            class="js-dislikes ">{{dislike[key] | length}}</span></i>
                    {% else %}
                    <i class="far fa-thumbs-down " id="{{key}}j "><span class="js-dislikes ">0</span></i>
                    {% endif %}

                    {% endif %}
                </a>
            </div>
        </div>

    </div>
    {% endfor %}


  {% if app.user != null %} {{form_start(commentForm)}} {{form_errors(commentForm)}} {{form_widget(commentForm)}}

    <div class="container ps p-0 space">
        <div class="psw">
            <button class="conf" type="submit">Envoyer</button>
        </div>
    </div>
    {{form_end(commentForm)}} {% endif %} 


</div>
{% endblock %} 
{% block js %}

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>


<script>

function onClickBtnLike(event){
    event.preventDefault() // permet de pas changer de page au click

    const url = this.href; // this qui est la balise <a> sur laquelle on click qui est definis dans le addEventListener
    const countLikes = this.querySelector('span.js-likes')
    const countDislikes = this.querySelector('span.js-dislikes')
    const icone = this.querySelector('i')
    const allIcones = document.querySelectorAll('i')

    axios.get(url).then(function(response){
        if (countLikes != null) {
                const likes = response.data.likes
                countLikes.textContent = likes
            } else {
                const dislikes = response.data.dislikes
                countDislikes.textContent = dislikes
            }

        $boolean = false
        allIcones.forEach(element => {
                if (icone.classList.contains('far') && element.classList.contains('fas')) {
                    if (element.getAttribute('id') === icone.getAttribute('id')) {
                        $boolean = true;
                        element.classList.replace('fas', 'far')
                        icone.classList.replace('far', 'fas')
                        if (icone.classList.contains('fa-thumbs-down')) {
                            icone.textContent = response.data.dislikes
                            element.textContent = response.data.likes
                        } else {
                            element.textContent = response.data.dislikes
                            icone.textContent = response.data.likes
                        }

                    }
                }

            });

        if ($boolean === false) {
                if (icone.classList.contains('fas')) { // contains = contenir en frenchies, donc si l'icone contient la class 'fas'
                    icone.classList.replace('fas', 'far')
                } else {
                    icone.classList.replace('far', 'fas')
                }
            }
    }).catch(function(error){ // catch si il y'a une erreur, then si tout se pass bien
        if(error.response.status === 403){
            window.alert("il faut être connecté pour liker")
        }else{
            window.alert("une erreur s'est produite, nos equipe travail la dessus")
        }
    })
}

document.querySelectorAll('a.js-like').forEach(function(link){
    link.addEventListener('click', onClickBtnLike)
})
</script>

{% endblock %}