{% extends 'base.html.twig' %}
{% block title %}- Home
{% endblock %}
{% block link %}
	<link rel="stylesheet" href="{{ asset('css/home.css')}}">
{% endblock %}
{% block content %}
	<div class="body">
		<main>

			<section class="hero__home">
				<div class="hero__content">
					<h1>Ynov Y-plateform Application</h1>
					<p>Tous les jeux PC sont là !!!</p>
				</div>
			</section>
			<section class="about__home">
				<div class="container">
					<div class="about__home-grid">
						<div class="group-item position-relative">
							<div class="title">
								<h3>Les Téléchargements Sur Votre Campus</h3>
							</div>
							<ul class="group-list">
								<li class="item-list">Sécurité garantie</li>
								<li class="item-list">Téléchargement rapide</li>
								<li class="item-list">Le tout gratuit</li>
							</ul>
							<div class="button">
								<a href="{{ path('register') }}">Crée un compte</a>
							</div>
						</div>
						<div class="group-item">
							<img src="{{ asset('img/test-call-of-duty-modern-warfare.jpg')}}" alt="">
						</div>
					</div>
				</div>
			</section>


			<section class="last__game">
				<div class="container">
					<div class="title">
						<h3>Les Dernières Nouveautés</h3>
						<a href="{{ path('library') }}">Afficher Tous Les Jeux ></a>
					</div>
					<div class="grid grid__moovies">
						{% for g in games %}
							<a href="{{path('game',{'id':g.id})}}">
								<div class="moovie__item">
									<img src="{{ asset('/gameImg/') }}{{ g.img }}" alt="">
								</div>
							</a>
						{% endfor %}
					</div>
				</div>
			</section>

		</main>
	</div>
{% endblock %}
