{% extends 'base.html.twig' %}

{% block title %}Dashboard Member Jeux {% endblock %}

{% block content %}
{{dump(category)}}
    <label for="">activer</label>
    <input type="checkbox" name="" id="">
    <button class="modify-game-js">modifier</button>
    <a href="{{ path('GameDelete', {'id': game.id}) }}">supprimer</a >
    <h1>Dashboard {{game.name}}</h1>

    <h1>Nombre telechargement : {{game.nbDownload}}</h1>
    <h1>Commentaire : {{game.comments | length}}</h1>
    <h1>note : {{note[0].note}}</h1>


    <h1>Infos du jeux</h1>
    <img src="{{ asset('/gameImg/')}}{{game.img }}" alt="">
    <p>{{game.descriptionG}}</p>

    <h1>Commentaires</h1>
    {% for comment in comments %}
        <p>desc : {{comment.descriptionC}}</p>
        <p>pseudo : {{comment.user.pseudo}}</p>
        <p>date : {{comment.dateC.date|date("F jS \\a\\t g:ia") }}</p>
    {% endfor %}

    <h1>Categorie</h1>
    {% for value in category %}
        <p>{{value.title}}</p>
    {% endfor %}
    <button>+</button>


    <div class="popup">
        <div class="popup-content">
            <h1>Modification</h1>
            <img class="close" src="{{ asset('/img/close.png')}}" alt="">
           
            {{form_start(formModifyGame)}}
            {{form_widget(formModifyGame)}}
            <button type="submit"> Modifier </button> {{form_end(formModifyGame)}}

        </div>
    </div>

    <style>
        .popup{
            background: rgba(0,0,0, 0.6);
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0%;
            display: none;
            justify-content: center;
            align-items: center; 
        }
    
        .popup-content{
            height: 350px;
            width: 600px;
            background: white;
            padding: 20px;
            border-radius: 2px;
            position: relative;
            box-shadow: 6px 6px 29px -4px rgba(0,0,0, 0.75);
        }
    
        .close{
            position: absolute;
            top: 5px;
            right: 5px;
            cursor: pointer;
        }
    </style>
{% endblock %}

{% block js %}
<script>

    modifyGame = document.querySelector('.modify-game-js')
    modifyGame.addEventListener('click', function(){
        document.querySelector('.popup').style.display = 'flex'
        document.querySelector('body').style.overflow = 'hidden'
    })

    document.querySelector('.close').addEventListener('click', function(){
        document.querySelector('.popup').style.display = 'none'
        document.querySelector('body').style.overflow = 'visible'
    })
</script>
{% endblock %} 
