{% extends 'base.html.twig' %}

{% block title %}Dashboard Member Jeux {% endblock %}


{% block link %}
<link rel="stylesheet" href="{{ asset('/css/sb-admin-2.min.css')}}">
<link rel="stylesheet" href="{{ asset('/css/dashboard.css')}}">
<link rel="stylesheet" href="{{ asset('/css/dashboard_member.css')}}">
<link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">

<style>
    #wrapper #content-wrapper #content {
        position: relative;
    }

    .popup {
        background: rgba(0, 0, 0, 0.6);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0%;
        display: none;
        justify-content: center;
        align-items: center;
        color: black;
    }

    .popup-content {
        height: 280px;
        width: 600px;
        background: white;
        padding: 20px;
        border-radius: 2px;
        position: relative;
        box-shadow: 6px 6px 29px -4px rgba(0, 0, 0, 0.75);
    }

    .popup a {
        color:black;
        text-decoration: none;
        font-size: 18px;
        margin-left: 90px;
    }

    .close-js,
    .close-category-js {
        position: absolute;
        top: 5px;
        right: 5px;
        cursor: pointer;
    }

    .popup-content input[type=text]  {
        margin: 5px auto;
        display: block;
        padding: 8px;
        height: 40px;
        width: 384px;
        background: #f8f8f8;
        border: 1px solid #ededed;
        box-sizing: border-box;
        box-shadow: inset 0 1px 4px rgba(0, 0, 0, .25);
        border-radius: 6px;
    }

    .close {
        position: absolute;
        top: 5px;
        right: 5px;
        cursor: pointer;
    }

    .mdfCtg{

        text-align: center;
        font-family: 'Poppins', sans-serif;
        color: #FF3838;
    }

    .btn-mdf{
        width: 384px;
        height: 47px;
        font-size: large;
        color: white;
        background: rgba(255, 56, 56, 0.9);
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        border-radius: 8px;
        margin-left: 87px;
    }


    .search-js {
        margin: 5px auto;
        display: block;
        width: 50%;
        padding: 8px;
        height: 40px;
        width: 384px;
        background: #f8f8f8;
        border: 1px solid #ededed;
        box-sizing: border-box;
        box-shadow: inset 0 1px 4px rgba(0, 0, 0, .25);
        border-radius: 6px;
    } 

</style>
{% endblock %}

{% block content %}

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="heading-text">Dashboard {{game.name}}</h1>
                </div>

                <!-- Content Row -->
                <div class="row">

                    <!-- Earnings (Monthly) Card Example -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-primar shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-primar text-uppercase mb-1">
                                            Téléchargements</div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                                            {{game.nbDownload}}</div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Earnings (Monthly) Card Example -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-succes shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-succes text-uppercase mb-1">
                                            Commentaire
                                        </div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{game.comments | length}}
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Pending Requests Card Example -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-warningg shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-warningg text-uppercase mb-1">
                                            Note</div>
                                            {% if note[0].note == 0 %}
                                             <div class="h5 mb-0 font-weight-bold text-gray-800">0</div>
                                            {% else %}
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{note[0].note}}</div>
                                        {% endif %}
                                        
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-comments fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <!-- Content Row -->
                <div class="row">

                    <!-- Content Column -->
                    <div class="col-lg-6 mb-4" id="content-column">
                    {# {{ dump(user) }} #}
                        <div class="col-lg-6-button">
                            {# {% if user.roles == 'ROLE_ADMIN' %} #}
                                <form action="{{ path('gameState', {id : game.id}) }}" method="post">
                                    {% if game.isActive == true %}
                                        <input type="checkbox" name="checkOn" checked> Activer
                                    {% endif %}
                                    {% if game.isActive == false %}   
                                        <input type="checkbox" name="checkOff"> Activer
                                    {% endif %}
                                    <button type="submit" name="submit" class="btn btn-link"><span class="iconify" data-inline="false" data-icon="emojione:white-heavy-check-mark" style="font-size: 20px;"></span></button>
                                </form>
                            {# {% endif %} #}
                            <div class="button1">
                                <button class="modify-game-js">modifier</button>
                            </div>
                            <div class="button2">
                                <button class="button2"><a href="{{ path('GameDelete', {id: game.id}) }}" onclick="return confirm('Êtes-vous sûr de vouloir supprimer le jeu ?');">supprimer</a></button>
                            </div>
                                
                        </div>

                        <!-- Illustrations -->
                        <div class="card shadow mb-4">
                            <div class="card-header py-3" id="card-header1">
                                <h6 class="">Infos du jeux</h6>
                            </div>
                            <div class="card-body">
                                <div class="text-center">
                                    <img class="#"
                                        src="{{ asset('/gameImg/')}}{{game.img }}" alt="">
                                </div>
                                <p>{{game.descriptionG}}</p>

                            </div>
                        </div>


                    </div>

                    <div class="col-lg-6 mb-4">

                        <!-- Illustrations -->
                        <div class="card shadow mb-4">
                            <div class="card-header py-3" id="card-header1">
                                <h6 class="">Commentaire</h6>
                            </div>
                            <div class="card-body1">
                                {% for comment in comments %}
                                <p>desc : {{comment.descriptionC}}</p>
                                <p>pseudo : {{comment.user.pseudo}}</p>
                                <p>date : {{comment.dateC.date|date("F jS \\a\\t g:ia") }}</p>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="category">
                                {% for value in category %}
                                <button>{{value.title}}</button>
                                {% endfor %}
                                <button type="submit" class="modify-category-js">+</button>
                        </div>
                    </div>
                </div>


            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-black">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2019</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->



    <div class="popup game">
        <div class="popup-content">
            <h1>Modification</h1>
            <img class="close-js" src="{{ asset('/img/close.png')}}" alt="">

            {{form_start(formModifyGame)}}
            {{form_widget(formModifyGame)}}
            <button type="submit"> Modifier </button> {{form_end(formModifyGame)}}

        </div>
    </div>

    <div class="popup popup-category">
        <div class="popup-content">
            <h1 class="mdfCtg">Modification catégorie</h1><br>
            <img class="close-category-js" src="{{ asset('/img/close.png')}}" alt="">
            <form action="" method="post">
                <input class="search-js" type="text" placeholder="Catégories">
                <div class="result-search-js"></div>

                {% for value in category %}
                    <a href="{{ path('CategoryDelete', {'idGame': id, 'id': value.id}) }}">{{value.title}}
                    <span class="iconify" data-inline="false" data-icon="ant-design:minus-circle-outlined" style="font-size: 20px;"></span></a>
                {% endfor %}
                <br>
                <button type="submit" class="btn-mdf"> Modifier </button>
            </form>
        </div>
    </div>

    <input class="hidden-js" type="hidden" value="{{pop}}">

    {% endblock %}

    {% block js %}
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

    <script>

        {# var inputHidden = document.querySelector('.hidden-js')
        if (inputHidden != null) {
            if (inputHidden.value == 1) {
                document.querySelector('.category').style.display = 'flex'
                document.querySelector('body').style.overflow = 'hidden'
            } else {
                document.querySelector('.category').style.display = 'none'
                document.querySelector('body').style.overflow = 'visible'
            }
            document.querySelector('.close-category-js').addEventListener('click', function () {
                inputHidden.value = 0
            })
        } #}


        modifyGame = document.querySelector('.modify-game-js')
        modifyGame.addEventListener('click', function () {
            document.querySelector('.game').style.display = 'flex'
            document.querySelector('body').style.overflow = 'hidden'
        })

        document.querySelector('.close-js').addEventListener('click', function () {
            document.querySelector('.game').style.display = 'none'
            document.querySelector('body').style.overflow = 'visible'
        })

        modifyCategory = document.querySelector('.modify-category-js')
        modifyCategory.addEventListener('click', function () {
            document.querySelector('.popup-category').style.display = 'flex'
            document.querySelector('body').style.overflow = 'hidden'
        })

        document.querySelector('.close-category-js').addEventListener('click', function () {
            document.querySelector('.popup-category').style.display = 'none'
            document.querySelector('body').style.overflow = 'visible'
        })

        $(document).ready(function () {
            $('.search-js').keyup(function () {
                $('.result-search-js').html('');
                var category = $(this).val();
                if (category != '') {
                    $.ajax({
                        type: 'GET',
                        url: "{{ path('searchCategory', {'game': id}) }}",
                        data: 'category=' + encodeURIComponent(category),
                        success: function (data) {
                            if (data != "") {
                                $('.result-search-js').append(data);
                            } else {
                                $('.result-search-js').textContent = "aucune categorie";
                            }
                        }
                    })

                }

            })
        });
    </script>
    {% endblock %}