{% extends 'base.html.twig' %}

{% block title %}Dashboard Member Jeux {% endblock %}


{% block link %}
<link rel="stylesheet" href="{{ asset('/css/sb-admin-2.min.css')}}">
<link rel="stylesheet" href="{{ asset('/css/dashboard.css')}}">
<link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">

<style>
    #wrapper #content-wrapper #content {
        position: relative;
    }

    .popup {
        background: rgba(0, 0, 0, 0.6);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0%;
        display: none;
        justify-content: center;
        align-items: center;
    }

    .popup-content {
        height: 350px;
        width: 600px;
        background: white;
        padding: 20px;
        border-radius: 2px;
        position: relative;
        box-shadow: 6px 6px 29px -4px rgba(0, 0, 0, 0.75);
    }

    .close-js,
    .close-category-js {
        position: absolute;
        top: 5px;
        right: 5px;
        cursor: pointer;
    }
</style>
{% endblock %}

{% block content %}

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-laugh-wink"></i>
            </div>
            <div class="sidebar-brand-text mx-3">Panel Admin</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
            <a class="nav-link" href="{{ path('dashboardAdmin') }}">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            Interface
        </div>

        <!-- Nav Item - Charts -->
        <li class="nav-item">
            <a class="nav-link" href="{{ path('userList') }}">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>Utilisateurs</span></a>
        </li>

        <!-- Nav Item - Charts -->
        <li class="nav-item">
            <a class="nav-link" href="{{ path('memberList') }}">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>Membre</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            Demandes
        </div>

        <!-- Nav Item - Charts -->
        <li class="nav-item">
            <a class="nav-link" href="">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>Ajout de jeu</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg topbar mb-4 static-top shadow">

                <!-- Sidebar Toggle (Topbar) -->
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>

                <!-- Topbar Search -->
                <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                    <div class="input-group">
                        <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                            aria-label="Search" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button">
                                <i class="fas fa-search fa-sm"></i>
                            </button>
                        </div>
                    </div>
                </form>

                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">



                    <div class="topbar-divider d-none d-sm-block"></div>

                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="mr-2 d-none d-lg-inline text-gray-600 small">Valerie Luna</span>
                            <img class="img-profile rounded-circle" src="https://source.unsplash.com/QAB-WJcbgJk/60x60">
                        </a>
                        <!-- Dropdown - User Information -->
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                            aria-labelledby="userDropdown">
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                Profile
                            </a>
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                Settings
                            </a>
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                Activity Log
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Logout
                            </a>
                        </div>
                    </li>

                </ul>

            </nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">Dashboard {{game.name}}</h1>
                </div>

                <!-- Content Row -->
                <div class="row">

                    <!-- Earnings (Monthly) Card Example -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-primar shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-primar text-uppercase mb-1">
                                            Téléchargements</div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                                            {{game.nbDownload}}</div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Earnings (Monthly) Card Example -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-succes shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-succes text-uppercase mb-1">
                                            Commentaire
                                        </div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{game.comments | length}}
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Pending Requests Card Example -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-warningg shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-warningg text-uppercase mb-1">
                                            Note</div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{note[0].note}}
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-comments fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <!-- Content Row -->
                <div class="row">

                    <!-- Content Column -->
                    <div class="col-lg-6 mb-4">
                    {# {{ dump(user) }} #}
                        <div class="">
                            {# {% if user.roles == 'ROLE_ADMIN' %} #}
                                {% if game.isActive == true %}
                                    <a href="{{ path('gameState', {id : game.id}) }}" style="text-decoration:none;"><input type="checkbox" name="" checked> Activer &nbsp;</a>
                                {% endif %}
                                {% if game.isActive == false %}
                                    <a href="{{ path('gameState', {id : game.id}) }}" style="text-decoration:none;"><input type="checkbox" name=""> Désactiver &nbsp;</a>
                                {% endif %}
                            {# {% endif %} #}
                            <button class="modify-game-js">modifier</button>
                            <a href="{{ path('GameDelete', {id: game.id}) }}">supprimer</a>
                        </div>

                        <!-- Illustrations -->
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Infos du jeux</h6>
                            </div>
                            <div class="card-body">
                                <div class="text-center">
                                    <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;"
                                        src="{{ asset('/gameImg/')}}{{game.img }}" alt="">
                                </div>
                                <p>{{game.descriptionG}}</p>

                            </div>
                        </div>


                    </div>

                    <div class="col-lg-6 mb-4">

                        <!-- Illustrations -->
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Commentaire</h6>
                            </div>
                            <div class="card-body">
                                {% for comment in comments %}
                                <p>desc : {{comment.descriptionC}}</p>
                                <p>pseudo : {{comment.user.pseudo}}</p>
                                <p>date : {{comment.dateC.date|date("F jS \\a\\t g:ia") }}</p>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="">
                            <h1>Categorie</h1>
                            {% for value in category %}
                            <p>{{value.title}}</p>
                            {% endfor %}
                            <button class="modify-category-js">+</button>
                        </div>

                    </div>
                </div>


            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2019</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->



    <div class="popup game">
        <div class="popup-content">
            <h1>Modification</h1>
            <img class="close-js" src="{{ asset('/img/close.png')}}" alt="">

            {{form_start(formModifyGame)}}
            {{form_widget(formModifyGame)}}
            <button type="submit"> Modifier </button> {{form_end(formModifyGame)}}

        </div>
    </div>

    <div class="popup category">
        <div class="popup-content">
            <h1>Modification categorie</h1>
            <img class="close-category-js" src="{{ asset('/img/close.png')}}" alt="">
            <form action="" method="post">
                <input class="search-js" type="text">
                <div class="result-search-js"></div>

                {% for value in category %}
                <a href="{{ path('CategoryDelete', {'idGame': id, 'id': value.id}) }}">{{value.title}} -</a>
                {% endfor %}

                <button type="submit"> Modifier </button>
            </form>
        </div>
    </div>

    <input class="hidden-js" type="hidden" value="{{pop}}">

    {% endblock %}

    {% block js %}
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

    <script>

        var inputHidden = document.querySelector('.hidden-js')
        if (inputHidden != null) {
            if (inputHidden.value == 1) {
                document.querySelector('.category').style.display = 'flex'
                document.querySelector('body').style.overflow = 'hidden'
            } else {
                document.querySelector('.category').style.display = 'none'
                document.querySelector('body').style.overflow = 'visible'
            }
            document.querySelector('.close-category-js').addEventListener('click', function () {
                inputHidden.value = 0
            })
        }


        modifyGame = document.querySelector('.modify-game-js')
        modifyGame.addEventListener('click', function () {
            document.querySelector('.game').style.display = 'flex'
            document.querySelector('body').style.overflow = 'hidden'
        })

        document.querySelector('.close-js').addEventListener('click', function () {
            document.querySelector('.game').style.display = 'none'
            document.querySelector('body').style.overflow = 'visible'
        })

        modifyCategory = document.querySelector('.modify-category-js')
        modifyCategory.addEventListener('click', function () {
            document.querySelector('.category').style.display = 'flex'
            document.querySelector('body').style.overflow = 'hidden'
        })

        document.querySelector('.close-category-js').addEventListener('click', function () {
            document.querySelector('.category').style.display = 'none'
            document.querySelector('body').style.overflow = 'visible'
        })

        $(document).ready(function () {
            $('.search-js').keyup(function () {
                $('.result-search-js').html('');
                var category = $(this).val();
                if (category != '') {
                    $.ajax({
                        type: 'GET',
                        url: "{{ path('searchCategory', {'game': id}) }}",
                        data: 'category=' + encodeURIComponent(category),
                        success: function (data) {
                            if (data != "") {
                                $('.result-search-js').append(data);
                            } else {
                                $('.result-search-js').textContent = "aucune categorie";
                            }
                        }
                    })

                }

            })
        });
    </script>
    {% endblock %}