{% extends 'base.html.twig' %}
{% block title %}- profil {% endblock %}
{% block link %}
<link rel="stylesheet" href="{{ asset('/css/profil.css')}}">
<link href="https://fonts.googleapis.com/css?family=Poppins:400,600&display=swap" rel="stylesheet"> {% endblock %}

{% block content %}


<div class="container image">

    <div class="row">
        <div class="col-3">

            <img class="pp" src="{{ asset('/avatar/')}}{{member[0].user.avatar }}" alt="">

        </div>
        <div class="col-8">
            <h5 class="info1">Pseudo : {{ member[0].user.pseudo}}</h5>
            <div class="info">

                <h5>Nom : {{ member[0].user.lastname}}</h5>
                <h5>Prénom : {{ member[0].user.username}}</h5>
                <h5>{{ age }} ans</h5>
                {% if member[0].level == false %}
                <h5>level : User </h5>
                {% else %}
                <h5>level : Member </h5>
                {% endif %}

            </div>
        </div>

    </div>

    <div class="btn-profil">
        <button id="btn" class="modify-password-js" onclick="displayPassword()">Modifier le mot de
            passe</button>
        <button id="btn" onclick="displayForm()">Modifier le profil</button>
    </div>

</div>

{% if member[0].level == true %}
<div class="title py-2">
    <div class="container">
        <h1>Mes Jeux</h1>
    </div>
</div>

<div class="container">
    {% for g in game %}
    <div class="row mt-5">
        <div class="col-8">

            <div class="row mt-5">
                <div id="img1" class="col-4 mt-2">
                    <img src="{{ asset('/gameImg/')}}{{g.img }}" alt="">

                </div>

                <div id="img2" class="col-8 mt-2">
                    <h5 class="gname">{{ g.name }}</h5>
                    <h5 class="nd">{{ g.nbDownload }} <span class="iconify" data-inline="false" data-icon="jam:download" style="font-size: 24px;"></span></h5>
                    <h5 class="nd">{{ note[0].note }} <span class="iconify" data-inline="false" data-icon="feather:star" style="font-size: 18px;"></span></h5>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endif %}

<div class="display">

    <div class="title py-2 mt-5">
        <div class="container">
            <h1>Informations</h1>
        </div>
    </div>

    <div class="container display">

        <h4 class="inform"> &bull; Date de naissance:</h4>
        <h4 class="informs"> {{ user.age.date|date("m/d/Y") }} </h4>

        <h4 class="inform"> &bull; Adresse mail :</h4>
        <h4 class="informs"> {{ user.mail}} </h4>

        <h4 class="inform"> &bull; Téléphone : </h4>
        <h4 class="informs"> {{ member[0].phone}} </h4>

    </div>

    <div class="title py-2">
        <div class="container">
            <h1>Localisation</h1>
        </div>
    </div>

    <div class="container display">
        <h4 class="inform"> &bull; Adresse : </h4>
        <div class="informs"> {{member[0].address }} </div>
        <h4 class="inform"> &bull; Ville : </h4>
        <div class="informs"> {{member[0].city }} </div>
        <h4 class="inform"> &bull; Code postal : </h4>
        <div class="informs"> {{member[0].postal }} </div>
    </div>

</div>

<div class="form">
    <div class="title py-2 mt-5">
        <div class="container">
            <h1>Informations</h1>
        </div>
    </div>
    <div class="container">
        {{form_start(form)}}
        <div class="space">
            <h4 class="inform"> &bull; Image de profil : </h4>
            {{form_widget(form.avatar)}}
        </div>

        <div class="space">
            <h4 class="inform"> &bull; Nom : </h4>
            {{form_widget(form.username)}}

        </div>

        <div class="space">
            <h4 class="inform"> &bull; Prénom : </h4>
            {{form_widget(form.lastname)}}
        </div>

        <div class="space">
            <h4 class="inform"> &bull; Pseudo : </h4>
            {{form_widget(form.pseudo)}}
        </div>

        <div class="space">
            <h4 class="inform"> &bull; Date de naissance : </h4>
            {{form_widget(form.age)}}
        </div>
        <button class="btn-conf" type="submit">Confirmer</button>
        {{form_end(form)}}
    </div>



    <div class="title py-2 mt-5">
        <div class="container">
            <h1>Localisation</h1>
        </div>
    </div>

    <div class="container">
        {{form_start(formM)}}
        <div class="space">
            <h4 class="inform"> &bull; Adresse : </h4>
            {{form_widget(formM.address)}}
        </div>

        <div class="space">
            <h4 class="inform"> &bull; Ville : </h4>
            {{form_widget(formM.city)}}
        </div>

        <div class="space">
            <h4 class="inform"> &bull; Code Postal : </h4>
            {{form_widget(formM.postal)}}
        </div>
        <button class="btn-conf" type="submit">Confirmer</button>
        {{form_end(formM)}}
    </div>

</div>



<div class="popup password">
    <div class="popup-content">
        <h1 class="modf">Modification</h1>
        <img class="close" src="{{ asset('/img/close.png')}}" alt="">
        <form action="" method="post">
            <input class="modify-password" type="password" placeholder="Ancien mot de passe" name="lastPassword"><br>
            <input class="modify-password" type="password" placeholder="Nouveau mot de passe" name="newPassword"><br>
            <input class="modify-password" type="password" placeholder="Confirmation" name="repeatNewPassword"><br>

            <button class="btn-modf" type="submit">Confirmer</button>

        </form>

    </div>
</div>


<script>
    var displayBlock = document.querySelector(".display");
    var formModify = document.querySelector(".form");
    var password = document.querySelector(".password");

    var li = document.querySelectorAll("li");
    if (li.length >= 6) {
        x.style.display = "none";
        y.style.display = "block";

    }

    function displayForm() {
        if (password.classList.contains('display')) {
            password.classList.replace('display', 'password');
            formModify.classList.replace('form', 'display');
        }
        else if (displayBlock.classList.contains('display')) {
            displayBlock.classList.replace('display', 'form');
            formModify.classList.replace('form', 'display');
        } else {
            displayBlock.classList.replace('form', 'display');
            formModify.classList.replace('display', 'form');
        }
    }

    function displayPassword() {
        if (formModify.classList.contains('display')) {
            formModify.classList.replace('display', 'form');
            password.classList.replace('password', 'display');
        }
        else if (displayBlock.classList.contains('display')) {
            displayBlock.classList.replace('display', 'password');
            password.classList.replace('password', 'display');
        } else {
            displayBlock.classList.replace('password', 'display');
            password.classList.replace('display', 'password');
        }
    }

    modifyPassword = document.querySelector('.modify-password-js')
    modifyPassword.addEventListener('click', function () {
        document.querySelector('.popup').style.display = 'flex'
        document.querySelector('body').style.overflow = 'hidden'
    })

    document.querySelector('.close').addEventListener('click', function () {
        document.querySelector('.popup').style.display = 'none'
        document.querySelector('body').style.overflow = 'visible'
    })




</script>

{% endblock %}