{% extends 'base.html.twig' %}
{% block title %}- login {% endblock %}

{% block content %} 
{{dump(member)}}

<h3> username : {{ member[0].user.username}}</h3>
<h3>lastname : {{ member[0].user.lastname}}</h3>
<h3>mail : {{ member[0].user.mail}}</h3>
<h3>pseudo : {{ member[0].user.pseudo}}</h3>
<h3> age : {{ age }}</h3>
<h3> phone : {{ member[0].phone }}</h3>
{% if member[0].level == false %}
<h3>level : User </h3>
{% else %}
<h3>level : Member </h3>
{% endif %}

<img src="{{ asset('/avatar/')}}{{member[0].user.avatar }}" alt="">

{{form_start(form)}}

{{form_widget(form)}}

<button type="submit"> Modifier </button>

{{form_end(form)}}
{% endblock %}