{% extends 'base.html.twig' %}
{% block title %}- login {% endblock %}

{% block content %} 
{{dump(member)}}
<h1>{{ member[0].id}}</h1>
<img src="{{ asset('/img/')}}{{member[0].user.avatar}}" alt="">


{{form_start(form)}}

{{form_widget(form)}}

<button type="submit"> Modifier </button>

{{form_end(form)}}
{% endblock %}