{% extends 'base.html.twig' %}
{% block title %}- login {% endblock %}

{% block content %} 
{{dump(user)}}

<img style="width:20%;" src="{{ asset('/avatar/')}}{{user.avatar }}" alt="">
<h5>Pseudo : {{ user.pseudo}}</h5>
<h5>Nom : {{ user.lastname}}</h5>
<h5>Prénom : {{ user.username}}</h5>
<h5>{{ age }} ans</h5>


<br><br>
{% if member[0].level == false %}

{{ dump(game) }}
<br><br>
<h1>Mes Jeux</h1>
{% for g in game %}
    <h5>{{ g.name }}</h5>
    <img style="width:20%;" src="{{ asset('/gameImg/')}}{{g.img }}" alt="">
    <h5>{{ g.nbDownload }}</h5>
    <h5>{{ note[0].note }}</h5>
{% endfor %}

<h1>Informations</h1>

{# <h5>Date de naissance : {{ user.age }}</h5> #}
<h5>Adresse mail : {{ user.mail}}</h5>
<h5>Téléphone</h5>

<br><br>
<h1>Localisation</h1>

<h5>Adresse</h5>
<h5>Ville</h5>
<h5>Code postal</h5>
{% endif %}

{% endblock %}