{% extends 'base.html.twig' %} {% block title %}- Liste Membres {% endblock %} {% block link %}
<link rel="stylesheet" href="{{ asset('/css/sb-admin-2.min.css')}}">
<link rel="stylesheet" href="{{ asset('/css/dashboard.css')}}">
<link href="https://fonts.googleapis.com/css?family=Poppins:400,600&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

<style>
    #wrapper #content-wrapper #content {
        position: relative;
    }
</style>
{% endblock %} {% block content %}

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0">Tableaux</h1>
                </div>
                <div class="intro">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sit ante feugiat molestie ullamcorper tristique.</p>
                </div>
                <!-- Content Row -->
                <div class="row">

                    <!-- Illustrations -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3" ; style="background: #313131;">
                            <h6 class="m-0 font-weight " ; style="font-family: Poppins;
font-style: normal;
font-weight: bold; color:#F8F8F8;">Gestion Des Membres</h6>
                        </div>
                        <div class="container space">
                            <div class="text">
                                <p>Afficher <select size="1">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3" selected>3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                </select> Entitées </p>
                            </div>
                            <div class="container ps p-0">
                                <div class="cherch">
                                    <input type="search" name="" id="" class="cherch" placeholder="Recherche">
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <table class="table table-bordered" ; style="background:#F8F8F8;">
                                <thead>
                                    <tr>
                                        <th scope="col" style="color: black;">ID</th>
                                        <th scope="col" style="color: black">Nom</th>
                                        <th scope="col" style="color: black;">Email</th>
                                        <th scope="col" style="color: black;">Date de naissance</th>
                                        <th scope="col" style="color: black;">Date de création</th>
                                        <th scope="col" style="color: black;">Modifier / Supprimer</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for member in members %}
                                    <tr>
                                        <th scope="row">{{ member.user.id }}</th>
                                        <td style="color: black;">{{ member.user.username}} {{ member.user.lastname}}</td>
                                        <td style="color: black;">{{ member.user.mail }}</td>
                                        <td style="color: black;">{{ member.user.age.date|date("m/d/Y") }}</td>
                                        <td style="color: black;">{{ member.user.dateU.date|date("m/d/Y") }}</td>
                                        <td>
                                            <a href="{{ path('dashboardAdminMember', {id : member.user.id}) }}"><span class="iconify" data-inline="false" data-icon="bx:bxs-edit-alt" style="color: #2058E9; font-size: 30px;"></span></a>
                                            {% if member.user.isActiveU == true %}
                                                <a href="{{ path('userState', {id : member.user.id}) }}"><span class="iconify" data-inline="false" data-icon="mdi:delete-forever-outline" style="color: #FF3838; font-size: 30px;"></span></a>
                                            {% endif %}
                                            {% if member.user.isActiveU == false %}
                                                <a href="{{ path('userState', {id : member.user.id}) }}"><span class="iconify" data-inline="false" data-icon="emojione:counterclockwise-arrows-button" style="font-size: 30px;"></span></a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>

                            <div class="fin">
                                <p>Showing 1 to 3 of 57 entries</p>
                            </div>
                            <div class="sep">
                                <div class="btn-group" role="group" aria-label="Basic example">
                                     {{ knp_pagination_render(members) }}
                                </div>
                            </div>
                            </div>
                        </div>

                    </div>

                </div>
                <!-- End of Main Content -->


                {#
                <!-- Footer -->
                <footer class="sticky-footer bg-white">
                    <div class="container my-auto">
                        <div class="copyright text-center my-auto">
                            <span>Copyright &copy; Your Website 2019</span>
                        </div>
                    </div>
                </footer> #}
                <!-- End of Footer -->

            </div>
            <!-- End of Content Wrapper -->

        </div>
        <!-- End of Page Wrapper -->{% endblock %}