{% extends 'base.html.twig' %} {% block title %}- Liste Utilisateurs {% endblock %} {% block link %}
<link rel="stylesheet" href="{{ asset('/css/sb-admin-2.min.css')}}">
<link rel="stylesheet" href="{{ asset('/css/dashboard.css')}}">
<link href="https://fonts.googleapis.com/css?family=Poppins:400,600&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

<style>
    #wrapper #content-wrapper #content {
        position: relative;
    }
</style>
{% endblock %} {% block content %}


            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0">Tableaux</h1>
                </div>
                <div class="intro">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sit ante feugiat molestie ullamcorper tristique.</p>
                </div>

                <!-- Content Row -->
                <div class="row">

                    <!-- Illustrations -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3" ; style="background: #313131;">
                            <h6 class="m-0 font-weight " ; style="font-family: Poppins; font-style: normal;
                            font-weight: bold; color:#F8F8F8;">Gestion Des Utilisateurs</h6>
                        </div>
                        <div class="container space">
                            <div class="text">
                                <form method="post" action="">
                                    <p>Afficher
                                    <select size="1" id="liste" name="select">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5" selected>5</option>
                                    </select> Entitées <input type="submit" name="submit" class="btn btn-light btn-sm" value="Valider" /></p>
                                </form>
                            </div>
                            <div class="cherch">
                                <input type="search" name="" id="" class="cherch " placeholder="Recherche">
                            </div>
                        </div>


                        <div class="card-body">
                            <table class="table table-bordered" style="background:#F8F8F8;">
                                <thead>
                                    <th scope="col" style="color: black;">ID</th>
                                    <th scope="col" style="color: black">Nom</th>
                                    <th scope="col" style="color: black;">Email</th>
                                    <th scope="col" style="color: black;">Date de naissance</th>
                                    <th scope="col" style="color: black;">Date de création</th>
                                    <th scope="col" style="color: black;">Modifier / Supprimer</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for user in users %}
                                    <tr>
                                        <th scope="row">{{ user.id }}</th>
                                        <td>{{ user.username }} {{ user.lastname }}</td>
                                        <td>{{ user.mail }}</td>
                                        <td>{{ user.age.date|date("m/d/Y") }}</td>
                                        <td>{{ user.dateU.date|date("m/d/Y") }}</td>
                                        <td>
                                            <a href="{{ path('dashboardAdminUser', {id : user.id}) }}"><span class="iconify"
                                            data-inline="false" data-icon="bx:bxs-edit-alt"
                                            style="color: #2058E9; font-size: 30px;"></span></a> {% if user.isActiveU == true %}
                                            <a href="{{ path('userState', {id : user.id}) }}"><span class="iconify" data-inline="false"
                                            data-icon="mdi:delete-forever-outline" style="color: #FF3838; font-size: 30px;"></span></a> {% endif %} {% if user.isActiveU == false %}
                                            <a href="{{ path('userState', {id : user.id}) }}"><span class="iconify" data-inline="false"
                                            data-icon="emojione:counterclockwise-arrows-button" style="font-size: 30px;"></span></a> {% endif %}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>

                            <div class="fin">
                                <p>Showing 1 to {{ selectOption }} of {{nbUsers[0].nbUsers}} entries</p>
                            </div>
                            <div class="sep">
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    {{ knp_pagination_render(users) }}
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2019</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    {% endblock %}