{% extends 'base.html.twig' %}
{% block title %}- Liste Utilisateurs {% endblock %}

{% block content %}

<h4>Panel Admin</h4>
<a href="{{ path('dashboardAdmin') }}">Dashboard</a>
<h6>Utilisateurs</h6>
<a href="{{ path('userList') }}">Utilisateurs</a><br>
<a href="{{ path('memberList') }}">Membres</a>
<h6>Demandes</h6>
<a href="">Ajout de jeu</a><br>

<input type="search" name="" id="" placeholder="Recherche">

<h1>Tableau Utilisateurs</h1>
<br><br>


<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nom</th>
      <th scope="col">Email</th>
      <th scope="col">Date de naissance</th>
      <th scope="col">Date de création</th>
      <th scope="col">Modifier / Supprimer</th>
    </tr>
  </thead>
  <tbody>
    {% for user in users %}
    <tr>
      <th scope="row">{{ user.id }}</th>
      <td>{{ user.username }} {{ user.lastname }}</td>
      <td>{{ user.mail }}</td>
      <td>{{ user.age.date|date("m/d/Y") }}</td>
      <td>{{ user.dateU.date|date("m/d/Y") }}</td>
      <td><a href="{{ path('dashboardAdminMember', {id : user.id}) }}"><span class="iconify" data-inline="false" data-icon="bx:bxs-edit-alt" style="color: #2058E9; font-size: 30px;"></span></a>
      <span class="iconify" onclick="return confirm('Êtes-vous sûr de vouloir supprimer l\'utilisateur ?');" data-inline="false" data-icon="mdi:delete-forever-outline" style="color: #FF3838; font-size: 30px;"></span></td>
    </tr>
    {% endfor %}
    {# {{ knp_pagination_filter(users, {'id': 'id'}) }} #}
    {# {{ knp_pagination_filter(users, {'g.id': 'Id', 'g.username': 'Username'}) }} #}
  </tbody>
</table>
<div class="navigation">
  {{ knp_pagination_render(users) }}
</div> 


{% endblock %}