{% extends 'base.html.twig' %} {% block title %}- Liste Utilisateurs {% endblock %} {% block link %}
<link rel="stylesheet" href="{{ asset('/css/sb-admin-2.min.css')}}">
<link rel="stylesheet" href="{{ asset('/css/dashboard.css')}}">
<link href="https://fonts.googleapis.com/css?family=Poppins:400,600&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

<style>
    #wrapper #content-wrapper #content {
        position: relative;
    }
</style>
{% endblock %} {% block content %}

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-laugh-wink"></i>
            </div>
            <div class="sidebar-brand-text mx-3">Panel Admin</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
            <a class="nav-link" href="{{ path('dashboardAdmin') }}">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            Interface
        </div>

        <!-- Nav Item - Charts -->
        <li class="nav-item">
            <a class="nav-link" href="{{ path('userList') }}">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>Utilisateurs</span></a>
        </li>

        <!-- Nav Item - Charts -->
        <li class="nav-item">
            <a class="nav-link" href="{{ path('memberList') }}">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>Membres</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            Demandes
        </div>

        <!-- Nav Item - Charts -->
        <li class="nav-item">
            <a class="nav-link" href="{{ path('ajoutJeux') }}">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>Ajout de jeu</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg topbar mb-4 static-top shadow">

                <!-- Sidebar Toggle (Topbar) -->
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
          <i class="fa fa-bars"></i>
        </button>

                <!-- Topbar Search -->
                <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                    <div class="input-group">
                        <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button">
                <i class="fas fa-search fa-sm"></i>
              </button>
                        </div>
                    </div>
                </form>

                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">

                    <div class="topbar-divider d-none d-sm-block"></div>

                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="mr-2 d-none d-lg-inline text-gray-600 small">Valerie Luna</span>
                            <img class="img-profile rounded-circle" src="https://source.unsplash.com/QAB-WJcbgJk/60x60">
                        </a>
                        <!-- Dropdown - User Information -->
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i> Profile
                            </a>
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i> Settings
                            </a>
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i> Activity Log
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i> Logout
                            </a>
                        </div>
                    </li>

                </ul>

            </nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0">Tableaux</h1>
                </div>
                <div class="intro">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sit ante feugiat molestie ullamcorper tristique.</p>
                </div>

                <!-- Content Row -->
                <div class="row">

                    <!-- Illustrations -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3" ; style="background: #313131;">
                            <h6 class="m-0 font-weight " ; style="font-family: Poppins; font-style: normal;
                            font-weight: bold; color:#F8F8F8;">Gestion Des Utilisateurs</h6>
                        </div>
                        <div class="container space">
                            <div class="text">
                                <p>Afficher <select size="1">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3" selected>3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                </select> Entitées</p>
                            </div>
                            <div class="cherch">
                                <input type="search" name="" id="" class="cherch " placeholder="Recherche">
                            </div>
                        </div>


                        <div class="card-body">
                            <table class="table table-bordered" style="background:#F8F8F8;">
                                <thead>
                                    <th scope="col" style="color: black;">ID</th>
                                    <th scope="col" style="color: black">Nom</th>
                                    <th scope="col" style="color: black;">Email</th>
                                    <th scope="col" style="color: black;">Date de naissance</th>
                                    <th scope="col" style="color: black;">Date de création</th>
                                    <th scope="col" style="color: black;">Modifier / Supprimer</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for user in users %}
                                    <tr>
                                        <th scope="row">{{ user.id }}</th>
                                        <td>{{ user.username }} {{ user.lastname }}</td>
                                        <td>{{ user.mail }}</td>
                                        <td>{{ user.age.date|date("m/d/Y") }}</td>
                                        <td>{{ user.dateU.date|date("m/d/Y") }}</td>
                                        <td>
                                            <a href="{{ path('dashboardAdminUser', {id : user.id}) }}"><span class="iconify"
                                            data-inline="false" data-icon="bx:bxs-edit-alt"
                                            style="color: #2058E9; font-size: 30px;"></span></a> {% if user.isActiveU == true %}
                                            <a href="{{ path('userState', {id : user.id}) }}"><span class="iconify" data-inline="false"
                                            data-icon="mdi:delete-forever-outline" style="color: #FF3838; font-size: 30px;"></span></a> {% endif %} {% if user.isActiveU == false %}
                                            <a href="{{ path('userState', {id : user.id}) }}"><span class="iconify" data-inline="false"
                                            data-icon="emojione:counterclockwise-arrows-button" style="font-size: 30px;"></span></a> {% endif %}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>

                            <div class="fin">
                                <p>Showing 1 to 3 of 57 entries</p>
                            </div>
                            <div class="sep">
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    {{ knp_pagination_render(users) }}
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2019</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    {% endblock %}